NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://localhost:27017/iway-shopee
JWT_SECRET=iway_shopee_super_secret_key_change_in_production
JWT_EXPIRE=30d
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key
CLIENT_URL=http://localhost:3000
